:root {
    --whitecolor: #fffdfd;
    --redcolor: #eb5353;
    --pinkcolor: #f9d1d1;
    --deepredcolor: #2b0b0b;
    --graycolor: #6a6161;
    --darkcolor: #1e1e1e;
}

body {
    height: max-content;
    font-size: 14px;
    color: var(--darkcolor);
    background-color: var(--whitecolor);
}

p {
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
    background-color: var(--redcolor);
}

.header {
    font-size: 4rem;
    line-height: 4.5rem;
}

.tabcomponent {
    border: solid 1px --graycolor;
}

.iconcomponent {
    width: 14px;
    height: 14px;
    color: var(--pinkcolor);
}

.btncomponent {
    color: var(--redcolor);
    border-radius: xs;
    size: xl;
    width: 75%;
}

.inputcomponent {
    font-size: 14px;
    color: var(--deepredcolor);
    border: rem(1px) solid;
    background: transparent;

    &:focus-within {
        border-color: var(--deepredcolor);
    }
}

.labelcomponent {
    color: var(--darkcolor);
}

.logincontainer {
    position: absolute;
    background-color: var(--whitecolor);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.select {
    border: none;
    background-color: none;
    padding: 0;
    font-size: 0.75rem;
}

.radio {
    background-color: var(--redcolor);
}

.boxContainer {
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: var(--whitecolor);
}

.deepred {
    border-right: 1rem solid var(--deepredcolor);
}

/* .box {
    border: 1rem soild #1e1e1e;
    border-radius: 0.5rem;
    cursor: pointer;
} */

.dropdown {
    background-color: none;
    border: none;
}

.cardContainer {
    padding: 0;
    margin-bottom: 1rem;
    border-right: 1rem solid var(--redcolor);
    border-radius: 0.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 10px;
    background: var(--whitecolor);
}

.gridContainer {
    display: flex-wrap;
}

.dropzoneContainer {
    position: relative;
    cursor: pointer;
    height: calc(100vh - 30rem);
    border: 0.1rem dashed var(--graycolor);
    border-radius: 0.125rem;
}

.title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--graycolor);
}

.scrollBar {
    ::-webkit-scrollbar {
        width: 0.75rem;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--redcolor);
        border-radius: 0.2rem;
    }
}
