:root {
    --whitecolor: #fffdfd;
    --redcolor: #eb5353;
    --pinkcolor: #f9d1d1;
    --deepredcolor: #2b0b0b;
    --graycolor: #6a6161;
    --darkcolor: #1e1e1e;
}

body {
    height: max-content;
    font-size: 14px;
    color: var(--darkcolor);
    background-color: var(--whitecolor);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
    background-color: var(--redcolor);
}

.header {
    font-size: 4rem;
    line-height: 4.5rem;
}

.tabcomponent {
    border: solid 1px --graycolor;
}

.iconcomponent {
    width: 14px;
    height: 14px;
    color: var(--pinkcolor);
}

.btncomponent {
    color: var(--redcolor);
    border-radius: xs;
    size: xl;
    width: 75%;
}

.inputcomponent {
    font-size: small;
    color: var(--deepredcolor);
    border: rem(1px) solid;
    background: transparent;

    &:focus-within {
        border-color: var(--deepredcolor);
    }
}
